<% unless playlist.errors? %>
  <% if playlist.playlist_size == 0 %>
    <p>
      Unable to find any songs to add to your 2018 In Concerts playlist, did you mark attendance on any concerts over 2018?
    </p>
  <% else %>
    <p>
      In 2018 you attended <%= "#{playlist.concert_count} #{'concert'.pluralize(playlist.concert_count)}" %>
      <% if playlist.festival_count > 0 %>
      and
      <%= "#{playlist.festival_count} #{'festival'.pluralize(playlist.festival_count)}" %>!
      <% end %>
    </p>
    <p>
      Here's a playlists to take you back:
    </p>
    <iframe src="<%= playlist.embed_link %>" width="500" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <% if playlist.playlist_size > 100 %>
      <p>
        You’ll see more songs if you <a href="<%= playlist.link %>" target="_blank">open the playlist in Spotify</a>.
      </p>
    <% end %>
  <% end %>
  <span id="stats">
    <%= playlist.playlist_size %>
  </span>
<% else %>
  <p class="error">
    <%= playlist.error_content %>
  </p>
<% end %>
