<% unless playlist.errors? %>
  <% if playlist.playlist_size == 0 %>
    <p>
      Unable to find any songs to add to your <%= last_year %> In Concerts playlist, did you mark attendance on any concerts over <%= last_year %>?
    </p>
  <% else %>
    <div id="gigography-overview">
      <%= render partial: "artist_grid", object: playlist.artist_grid %>
      <div id="summary">
        <p>
          In <%= last_year %> you attended
        </p>
        <ul>
          <li>
            <h2><%= playlist.concert_count %></h2> <span><%= 'concert'.pluralize(playlist.concert_count) %></span>
          </li>
          <% if playlist.festival_count > 0 %>
          <li>
            <h2><%= playlist.festival_count %></h2> <span><%= 'festival'.pluralize(playlist.festival_count) %></span>
          </li>
          <% end %>
          <% if playlist.venue_count > 1 %>
          <li>
            <h2><%= playlist.venue_count %></h2> <span>different venues</span>
          </li>
          <% end %>
        </ul>
        🤘
      </div>
    </div>
    <p>
      Here's a playlist to take you back.
    </p>
    <iframe src="<%= playlist.embed_link %>" width="500" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    <% if playlist.playlist_size > 100 %>
      <p class="small-text">
        You’ll see more songs if you <a href="<%= playlist.link %>" target="_blank">open the playlist in Spotify</a>.
      </p>
    <% end %>
  <% end %>
  <span id="stats">
    <%= playlist.playlist_size %>
  </span>
<% else %>
  <p class="error">
    <%= playlist.error_content %>
  </p>
<% end %>
