<div id="cont">
  <h1>
    2018 In Concerts
  </h1>
  <p>
    Remember all those awesome concerts you went to in 2018?
  </p>
  <p>
    Relive them with a personalised Spotify playlist.
  </p>

  <% if @page.step_1? %>
    <div id="connect-to-spotify">
      <p>
        First, connect to your Spotify account.
      </p>
      <a id="spotify-connect-btn" href="/auth/spotify">
        Connect to Spotify
      </a>
      <br />
    </div>
  <% else %>
    <div id="connect-to-songkick">
      <div id="spotify-info">
        Welcome <%= @page.spotify_username %>!
        <% if @page.has_spotify_image? %>
          <img src="<%= @page.spotify_image %>" alt="<%= @page.spotify_username %>" />
        <% end %>
      </div>
      <%= form_tag('/playlist/create', method: :post, id: 'user-form') do %>
        <%= text_field_tag('username', 'Your Songkick username', class: 'empty') %>
        <%= hidden_field_tag('spotify_auth') %>
        <%= submit_tag('Let’s go', id: 'go') %>
      <% end %>
    </div>
  <% end %>

  <p class="error">
    <%= @page.existing_errors %>
  </p>


  <div id="loading">
    <div id="animation-containter">
      <img src="/assets/Spotify-logo.svg" alt="Spotify" id="loading_spotify" />
      <img src="/assets/sk-badge-pink.svg" alt="Songkick" id="loading_songkick" />
    </div>
    <p>
      Bringing the noise.
    </p>
  </div>

  <div id="response">

  </div>

  <div id="footer">
    <a href="https://www.songkick.com" target="_blank">
      <img src="/assets/powered-by-songkick-pink.svg" alt="Powered by Songkick" id="powered-by-sk"/>
    </a>
    <p id="attribution">
      Built by <a href="https://www.songkick.com/users/joe" target="_blank">joe</a>
      <br />
      Photo by <a href="https://burst.shopify.com/@ndekhors" target="_blank">Nicole De Khors</a>
    </p>
  </div>

</div>
